:root{
    --main-title-color: #FFFFFF;
    --second-tittle-color: #2E2F42;
    --third-tittle-color: #4d5ae5;
}
body {
    font-family: 'Roboto', sans-serif;
    background: var(--main-title-color);
    color: #434455;
}


.list{
    list-style: none;
}
.header {
}
.header-navigation {
}
.link{
    text-decoration: none;
}
.link:focus{
    color: #404bbf;
}
.link :hover{
   color: #404bbf;
}
.studio-color {
    color:var(--second-tittle-color);
    }
.header-logo  {
    font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--third-tittle-color);
text-decoration: none;
}

.header-list {

}
.header-item {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
  

}
.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.header-address {
    font-style: normal;
}
.header-mail {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;    
}
.header-phone {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.first {
    background: #2E2F42;
}
.first-tittle {
    font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: var(--main-title-color);
}
.first-button {
    background: #4D5AE5;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #FFFFFF;
cursor: pointer;
}
.first-button:hover{
    background-color: #404BBF;
}
.first-button:focus{
    background-color: #404BBF;
}
.btn{
    background: #F4F4FD;
border: 1px solid #E7E9FC;
border-radius: 4px;
cursor: pointer;
}
.btn:hover{
    background: #404BBF;
}
.btn-text:hover{
    color: #FFFFFF;
}
.btn:focus{
    background: #404BBF;
}
.btn-text:focus{
    color: #FFFFFF;
}
.btn-text{
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #4D5AE5;
}
.second {
}
.second-list {
}
.second-item {
}
.second-category {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.second-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.third {
}
.third-tittle, .fourth-tittle {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}
.list {
}
.fourth {
    background-color: #F4F4FD;
}
 
.fourth-list {
    background-color: #FFFFFF;
}
.fourth-item {
}
.fourth-name, .picture-tittle {
    background-color: #FFFFFF;
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
}
.fourth-text, .picture-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #434455;

}
.footer{
    background: #2E2F42;
}

.footer-logo  {
    font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--third-tittle-color);
text-decoration: none;
}
.studio-color{
    color: #f4f4fd;
    }

.footer-text{
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
}